
/* Page Title Styling */
.teacherH1 { //Faculty Title
  text-align: center;
  color: #006341;
  letter-spacing: 4px;
  font-size: 50px;
  margin-top: 5%;}

.teacherH5{ // IMD Subtitle
text-align: center;}

/* Teacher sections general styling */
.box_1 , .box_2 , .box_3{ // USING NESTING HERE
  background-color: #F5F5F5;
  margin-top: 3%;
  height: 70%;

  img{
    width: 20%;
    border-radius: 50%;
    margin: 2%;
    float: left;
    box-shadow: 5px 5px 10px grey;
    margin-right: 6%;}

  div{ // Teacher info div --> MORE NESTING
    margin: 5%;
    padding-top: 3%;

    h3{ // Teacher Name
      color: #30303A;}

    p{
      font-size: 20px;
      color: #30303A;}
  }
}

/* Adding margin between last div and footer */
.box_3{ margin-bottom: 7%;}

/* Changing Email Color*/
.email a { color: #006341;}
