h2 {

  margin: 5%;

}

.box_1, .box_2, .box_3 {

  background-color: #30303A;

  margin-top: 3%;

  height: 70%;

}

.teacher {

  margin: 5%;

}

img {

  width: 25%;

  border-radius: 50%;

  margin: 3%;

  float: left;

}

.email a {

  color: #006341;

}

p {

  font-size: 20px;

  color: #FFFFFF;

}

h3 {

  color: #FFFFFF;

}
